$EDITER_HEADER_HEIGHT: 64px; // 编辑器头部高度
$MIN_TIMELINE_HEIGHT: 200px; // 编辑器最小高度

// Global
$GLOBAL_FONTFAMILY: 'Segoe UI';

//TAB
$TAB_BGCOLOR: #f0f0f5;
$TAB_TITLE_FONTSIZE: 12px; //TAB 子类title文字大小
$TAB_TITLE_COLOR: #232330;
