/** 资源内容容器的通用设置 */
@mixin resource-content-box {
  .resource-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
  }

  .content-block {
    width: 100%;
    flex: 1;
    padding: 8px;
    // 滚动条范围来控制右边的空隙
    // padding-right: 0px;
    overflow-y: hidden;
  }
}
